/* Add CSS Styling */
.odd{
    background-color: rgb(240, 128, 128);
    font-family: Verdana,'DejaVu Sans', sans-serif;
}
#id_1{
    color: #0000ff;
    font-size: 36px;
}

.adjust-font-size{
    font-size: 24px;
}

#id_2{
    background-color: rgb(129, 233, 129) ;
    font-weight: bold;
}